<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script
            src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <script src="js/bootstrap.min.js"></script>
    <meta charset="UTF-8"/>
    <title>View todos for the week</title>
</head>
<body>
<div class="container">
    <section class=".col-md-8">
        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th class="row">Entry</th>
                <th class="row">Created</th>
                <th class="row">Deadline</th>
                <th class="row">Done</th>
                <th class="row">Keywords</th>
            </tr>
            </thead>
            <tbody class="table-striped">
            <tr th:each="todo : ${todos}">
                <td class="row" th:text="${todo.created}"></td>
                <td class="row" th:text="${todo.entry}"></td>
                <td class="row" th:text="${todo.deadline}"></td>
                <td class="row" th:text="${todo.done}"></td>
                <td class="row" th:text="${todo.keywords}"></td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
</body>
</html>